<h1 class="text-center">Command Line</h1>
<hr>

<ol>
  <li><a href='/mv'>mv</a></li>
  <li><a href='/cp'>cp</a></li>
  <li><a href='/mkdir'>mkdir</a></li>
  <li><a href='/ls'>ls</a></li>
  <li><a href='/touch'>touch</a></li>
</ol>
<hr>
<a href='/'>Menu</a>
