<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>

    <%= yield %>
    <br>
    <p class="text-center text-color">Made by Josh Terry</p>
  </body>
</html>
