<a href="/command-line">Back</a>
<hr>

<p>MV(1) BSD General Commands Manual MV(1)</p>

<p>NAME<br />
 mv -- move files</p>

<p>SYNOPSIS<br />
 mv [-f | -i | -n] [-v] source target<br />
 mv [-f | -i | -n] [-v] source ... directory</p>

<p>DESCRIPTION<br />
 In its first form, the mv utility renames the file named by the source operand to the destination path named by the target<br />
 operand. This form is assumed when the last operand does not name an already existing directory.</p>

<p> In its second form, mv moves each file named by a source operand to a destination file in the existing directory named by<br />
 the directory operand. The destination path for each operand is the pathname produced by the concatenation of the last op-<br />
 erand, a slash, and the final pathname component of the named file.</p>

<p> The following options are available:</p>

<p> -f Do not prompt for confirmation before overwriting the destination path. (The -f option overrides any previous -i<br />
 or -n options.)</p>

<p> -i Cause mv to write a prompt to standard error before moving a file that would overwrite an existing file. If the<br />
 response from the standard input begins with the character &#96;y' or &#96;Y', the move is attempted. (The -i option over-<br />
 rides any previous -f or -n options.)</p>

<p> -n Do not overwrite an existing file. (The -n option overrides any previous -f or -i options.)</p>

<p> -v Cause mv to be verbose, showing files after they are moved.</p>

<p> It is an error for either the source operand or the destination path to specify a directory unless both do.</p>

<p> If the destination path does not have a mode which permits writing, mv prompts the user for confirmation as specified for<br />
 the -i option.</p>

<p> As the rename(2) call does not work across file systems, mv uses cp(1) and rm(1) to accomplish the move. The effect is<br />
 equivalent to:</p>

<p> rm -f destination_path &amp;&amp; \<br />
 cp -pRP source_file destination &amp;&amp; \<br />
 rm -rf source_file</p>

<p>DIAGNOSTICS<br />
 The mv utility exits 0 on success, and >0 if an error occurs.</p>

<p> The command &quot;mv dir/afile dir&quot; will abort with an error message.</p>

<p>LEGACY DIAGNOSTICS<br />
 In legacy mode, the command &quot;mv dir/afile dir&quot; will fail silently, returning an exit code of 0.</p>

<p> For more information about legacy mode, see compat(5).</p>

<p>SEE ALSO<br />
 cp(1), rm(1), symlink(7)</p>

<p>COMPATIBILITY<br />
 The -n and -v options are non-standard and their use in scripts is not recommended.</p>

<p> The mv utility now supports HFS+ Finder and Extended Attributes and resource forks. The mv utility will no longer strip<br />
 resource forks off of HFS files. For an alternative method, refer to cp(1).</p>

<p>STANDARDS<br />
 The mv utility is expected to be IEEE Std 1003.2 (&#96;&#96;POSIX.2'') compatible.</p>

<p>HISTORY<br />
 A mv command appeared in Version 1 AT&amp;T UNIX.</p>

<p>BSD July 9, 2002 BSD</p>
